<nz-card class="newTransactionCard">
  <div class="input-container push-right">
    <label class="label-field">Recibo (opcional)</label>
    <app-upload></app-upload>
    <!-- <div *ngIf="receiptName" class="file-info">
      <span style="margin-right: 16px;">
        <span nz-icon nzType="file" nzTheme="outline"></span>
        {{ receiptName }}
      </span>
      <button nz-button type="submit" nzType="primary" nzShape="round" (click)="abrirRecibo()">
        <span nz-icon nzType="search"></span>
        Ver recibo
      </button>
    </div> -->
    <!-- <img *ngIf="isImage && receiptPreviewUrl" [src]="receiptPreviewUrl" alt="Preview do Recibo" class="preview-img" />
    <div  *ngIf="isPDF && receiptPreviewUrl" class="file-preview">
      <a [href]="receiptPreviewUrl" target="_blank">📄 Visualizar Recibo PDF</a>
    </div> -->
  </div>

  <div>
    <div class="newTransHeader">
      <h2 nz-typography>Nova Transação</h2>
      <img src="http://localhost:4202/assets/Pixels3.png" alt="pixels" />
    </div>
  </div>
  <div class="newTransForm">
    <div class="formContent">
      <nz-select
      class="custom-select"
        [ngModel]="vm.selectedOption"
        (ngModelChange)="vm.selectedOption.set($event)"
        nzAllowClear
        nzPlaceHolder="Selecione o tipo de transação"
      >
        <nz-option *ngFor="let option of optionList" [nzValue]="option" [nzLabel]="option.label"></nz-option>
      </nz-select>
      <div class="input-container">
        <Label class="label-field" nz-typography>Valor</Label>
        <nz-input-group nzPrefix="R$">
          <input type="text" class="input-field__number" nz-input (input)="handleInput($event)" [ngModel]="vm.formattedValue()" placeholder="input with clear icon" placeholder="00,00" name="valor" />
        </nz-input-group>
      </div>

      <button [disabled]="!vm.numericValue()" nz-button class="btn-primary" (click)="submit()">
        Concluir transação
      </button>
    </div>

    <img src="http://localhost:4202/assets/Pixels4.png" alt="pixels" />
  </div>
</nz-card>