.newTransactionCard {
    min-height: 402px;
    display: flex;
    background-color: #CBCBCB;
    border-radius: 8px;
    h2[nz-typography],
    h3[nz-typography],
    span[nz-typography] {
        color: #DEE9EA;
    }
    margin: 16px 16px;
}

.newTransHeader {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    > img {
        position: absolute; 
        z-index: 0;
        right: 0;
        top: 0;
    }
}


.newTransForm {
    z-index: 1;
    > img {
        position: absolute; 
        z-index: 0;
        left: 0;
        bottom: 0;
    }
}

.custom-select {
    width: 300px;
}

.btn-primary {
  background-color: #004f5a;
  color: white;
}

.formContent {
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 16px;
  margin-top: 16px;
  position: relative;
}

.push-right {
  align-self: flex-end; /* empurra para a direita dentro da coluna */
}
.label-field {
  font-size: 1rem;
  color: #DEE9EA;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-file {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: underline;
}

.file-info {
  margin-top: 5px;
  font-style: italic;
}

.preview-img {
  margin-top: 10px;
  max-width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
