.welcomeCard {
    min-height: 302px;
    background-color: #004D61;
    border-radius: 8px;
    h2[nz-typography],
    h3[nz-typography],
    span[nz-typography] {
        color: #FFF;
    }
    margin: 16px 16px;
}

.accountInfo {
    display: flex; 
    flex-direction: column; 
    align-items: end;
}

.ammountInfo {
    display: flex;
    flex-direction: column;
}

:host::ng-deep .ant-btn {
    background: transparent !important;
    border: none;
}

.btn {
    color: #FF5031;
    margin-bottom: 0.5em;
}

.divider {
    background-color: #FF5031;
    margin-top: -8px;
    margin-bottom: 8px;
    min-width: 155px !important;
}

.showAmmountButton {
    gap: 16px;
    display: flex;
    align-items: center;
}
.dashboard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 40px;
}
.dashboard-modal {
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 1000px;
  border-radius: 16px;
  position: relative;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.charts {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

canvas {
  max-width: 100%;
  width: 100%;
  max-height: 200px;
}

.widgets {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.widget {
  background: #f1f8e9;
  padding: 20px;
  border-radius: 12px;
  flex: 1 1 250px;
  min-width: 250px;
}

.widget.alerta {
  background: #fff3e0;
}
