<section class="container">
  <div class="header">
    <div class="title">
      <h2>Extrato</h2>
    </div>
  </div>
  <div *ngFor="let transaction of transactions">
    <div class="row description">
      <div class="col-sm-12" *ngIf="transaction.categoria.length > 0">
        <h3 class="transaction-date">{{ transaction.month | titlecase }} </h3>
      </div>
    </div>
    <div *ngFor="let item of transaction.categoria">
        <div class="row description">
          <div class="col-sm-12">
            <h5 class="transaction-description text">{{ item.description }}</h5>
            <p class="transaction-amount value" >{{ item.amount | currency:'BRL' }}</p>
          </div>
          <div class="col-sm-8">
            <div class="aline-button">
              <div>
                <button class="btn btn-outline-warning btn-sm me-1 button"
                  (click)="openEditModal(transaction.id, item, transaction.month)">
                  <i class="bi bi-pencil icon"></i></button>
              </div>
              <div>
                <button class="btn btn-outline-danger btn-sm button margem"
                  (click)="deleteCategoria(transaction.id, item.id)">
                  <i class="bi bi-trash icon"></i></button>
              </div>
            </div>
            <p class="date">{{ item.date | date:'dd/MM/yyyy' }}</p>
          </div>
        </div>
      <div class="col-sm-12">
        <div class="line"></div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade show d-block custom-modal-bg" tabindex="-1" role="dialog" *ngIf="showEditModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="editForm" (ngSubmit)="saveEdit()" class="modal-content">
        <h2>Editar Transação</h2>
        <input formControlName="description" type="text" placeholder="Descrição" placeholder=description />
        <select formControlName="type">
          <option value="income">Depósito</option>
          <option value="expense">Despesa</option>
          <option value="transfer">Transferência</option>
        </select>
        <input formControlName="amount" type="number" placeholder="Valor" />
        <input formControlName="date" type="date" />
        <input formControlName="month" placeholder="Mês (ex: Maio)" />
        <div class="modal-actions">
          <button type="submit" [disabled]="editForm.invalid">Salvar</button>
          <button type="button" (click)="closeEditModal()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>