<section class="container">
  <form class="filters-container" (submit)="applyFilters()">
    <div class="filters-row">
      <div class="col-sm-12">
        <div class="filter-group">
          <label for="filterDate">Data</label>
          <input id="filterDate" type="date" [(ngModel)]="filters.date" name="date" />
        </div>
        <div class="filter-group">
          <label for="filterType">Tipo</label>
          <select id="filterType" [(ngModel)]="filters.type" name="type">
            <option value="">Todos</option>
            <option value="income">Depósito</option>
            <option value="expense">Despesa</option>
            <option value="transfer">Transferência</option>
          </select>
        </div>
      </div>
      <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary">🔍</button>
        <button type="button" class="btn btn-secondary button-row">🧹</button>
      </div>
    </div>
  </form>

  <div class="header">
    <div class="title">
      <h2>Extrato</h2>
    </div>
  </div>
  <div *ngIf="mensagemErro" class="alert alert-danger">
    {{ mensagemErro }}
  </div>

  <div class="scroll-container">
    <div *ngFor="let transaction of transactions">
      <div class="list">
      </div>
      <div class="row description">
        <div class="col-sm-12" *ngIf="transaction.categoria.length > 0">
          <h3 class="transaction-date">{{ transaction.month | titlecase }} </h3>
        </div>
      </div>
      <div *ngFor="let item of transaction.categoria; trackBy: trackByCategoriaId">
        <div class="row description">
          <div class="col-sm-12">
            <h5 class="transaction-description text">{{ item.description }}</h5>
            <p class="transaction-amount value">
              {{ formatCurrencyBRL(item.amount) }}
            </p>
          </div>
          <div class="col-sm-8">
            <div class="aline-button">
              <div>
                <button class="btn btn-outline-warning btn-sm me-1 button"
                  (click)="openEditModal(transaction.id, item, transaction.month)">
                  <img src="http://localhost:4202/assets/pencil.svg" alt="pencil" class="img-white" /></button>
              </div>
              <div>
                <button class="btn btn-outline-danger btn-sm button margem"
                  (click)="deleteCategoria(transaction.id, item.id)">
                  <img src="http://localhost:4202/assets/trash.svg" alt="trash" class="img-white" /></button>
              </div>
            </div>
            <p class="date">{{ formatDateBR(item.date) }}</p>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #noResults>
  <div class="no-results">
    <p>Nenhuma transação encontrada com os filtros aplicados.</p>
  </div>
</ng-template>
<div class="modal fade show d-block custom-modal-bg" tabindex="-1" role="dialog" *ngIf="showEditModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="editForm" (ngSubmit)="saveEdit()" class="modal-content">
        <h2>Editar Transação</h2>
        <input formControlName="description" type="text" placeholder="Descrição" placeholder=description />
        <select formControlName="type">
          <option value="income">Depósito</option>
          <option value="expense">Despesa</option>
          <option value="transfer">Transferência</option>
        </select>
        <input formControlName="amount" type="number" placeholder="Valor" />
        <input formControlName="date" type="date" />
        <input formControlName="month" placeholder="Mês (ex: Maio)" />
        <div class="modal-actions">
          <button type="submit" [disabled]="editForm.invalid">Salvar</button>
          <button type="button" (click)="closeEditModal()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>